.feedback-form {
    color: #2E2F42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 20px;
    margin-bottom: 8px;
}

input {
    width: 360px;
    height: 40px;
}

textarea {
    width: 360px;
    height: 80px;
    padding-top: 12px;
}

input, textarea {
    color: #2E2F42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 16px;
    resize: none;
}

.feedback-form::placeholder {
    color: #2E2F42;
}

button {
    display: block;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 8px;
    background-color: #4E75FF;
    border-style: none;
    padding: 8px 16px;
    margin-top: 16px;
}

button:hover {
    background-color: #6C8CFF;
}

input, textarea:hover {
    border: 1px solid #000;
}